extends layout

block content
  .wrapper.font-white
    .bottom-text-wrapper
      .bottom-text-container
        h1#firstTitle=title
    .top-text-wrapper
      .top-text-container
        h1#recognized
    .video-wrapper
      .video-container
        video(autoplay="true")#videoElement

block append footer
  script(src="custom/faceRecognition.js")
  script.
    var apigClient = apigClientFactory.newClient(!{JSON.stringify(apiKey)});
    getVehicles(apigClient);
  script.
      var video = document.querySelector("#videoElement");
      
      function handleVideo(stream) {
          video.src = window.URL.createObjectURL(stream);
      }
      function videoError(e) {
          console.log(e)
      }

      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
      if (navigator.getUserMedia) {
          navigator.getUserMedia({video: true}, handleVideo, videoError);
      }

      function uponRecognition() {
        $('#firstTitle').hide()
        $('#recognized').text('Access Granted')

        setTimeout(function() {
          window.location='/profile'
        }, 500);
      }

      setTimeout(uponRecognition, 4000);

      

      