extends layout

block content
    div#floating-panel(hidden=true)
        b Start:
            select#start
                option(value="munich") Munich
        b End:
            select#end
                option(value="Hamburg") Hamburg
    div(id="map")
    div#warnings-panel(hidden=true)

block footer
    script.
        var map;
        var infowindow;

        function initMap() {
            var hamburg = {lat: 53.549682, lng: 9.988290};

            map = new google.maps.Map(document.getElementById('map'), {
                center: hamburg,
                zoom: 15
            });

            infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch({
                location: hamburg,
                radius: 2000,
                type: ['parking']
            }, callback);
        }

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var icons = {
                parking: {
                    icon: '/images/icon.png'
                }
            }
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                icon: icons['parking'].icon,
                map: map,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0OKVdnhaVeMED1mB87Mom1yU2gmizBcg&libraries=places&callback=initMap" async defer)