extends layout

block content
    .wrapper#infoSection
        .row
            .col-md-4.col-sm-6.col-xs-12
                img(src="../images/user.jpg")
            .col-md-8.col-sm-6.col-xs-12
                .row
                    h1=userName
                .row
                    p
                        | Welcome back to your car, !{firstName}!
                .row
                    p
                        | I am not #{firstName}

